// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------
//#89db40
//#a9e96d
$colors: (
  primary: (
    100: hsl(126, 78%, 58%), // Adapt these values based on your desired hue, saturation, and lightness for primary
    200: hsl(126, 79%, 69%), // Adapt these values
    300: hsl(126, 53%, 49%), // Adapt these values
    400: hsl(126, 64%, 48%), // Adapt these values
    500: hsl(126, 96%, 20%), // Adapt these values
  ),
  secondary: (
    100: hsl(193, 73%, 84%), // Adapt these values based on your desired hue, saturation, and lightness for secondary
    200: hsl(193, 80%, 63%), // Adapt these values
    300: hsl(193, 72%, 57%), // Adapt these values
    400: hsl(193, 75%, 47%), // Adapt these values
    500: hsl(193, 90%, 30%), // Adapt these values
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
