---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon/components'
import {
  Accordion,
  AccordionItem,
  Breadcrumbs,
  BreadcrumbsItem,
  Card,
  Media,
  Modal,
  Notification,
  Pagination,
} from 'accessible-astro-components'
---

<DefaultLayout title="Accessible Components">
  <section class="my-12">
    <div class="space-content container">
      <h1>titulo acorde a la seccion</h1>
      <p class="text-2xl">
        otro parrafo lindo bonito y largo  <a
          href="/">testimonios</a
        > tenemos mas de # testimonios
      </p>
    </div>
  </section>
  <section class="mb-12 mt-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
        <div class="space-content">
          <h2>Preguntas Frecuentes</h2>
          <Accordion>
            <AccordionItem header="Como lo hacemos?">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
                accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
                veritatis laboriosam est tenetur.
              </p>
              <a href="#">Tab to me!</a>
            </AccordionItem>
            <AccordionItem header="Zonas de reparto">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
                accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
                veritatis laboriosam est tenetur.
              </p>
            </AccordionItem>
            <AccordionItem header="Tiempo de ejecucion">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
                accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
                veritatis laboriosam est tenetur.
              </p>
            </AccordionItem>
            <AccordionItem header="Formas de pago">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
                accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
                veritatis laboriosam est tenetur.
              </p>
            </AccordionItem>
            <AccordionItem header="otro dato">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
                accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
                veritatis laboriosam est tenetur.
              </p>
            </AccordionItem>
          </Accordion>
        </div>
        <div class="space-content">
          <h2>Quieres que te contactemos</h2>
          <button id="modal2-trigger" class="button color-secondary">Da el primer paso ❤</button>
          <Modal triggerId="modal2-trigger" title="Contacto" closeText="Cancel">
            <p>
              aqui va un formulario</strong> lindo bonito y cacheroso,
              necesitamos tu correo y nombre
            </p>
            <button class="button" onclick="closeModal()">Confirm action</button>
          </Modal>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
