---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container text-center">
      <p>
        &copy; {currentYear} - Tranflet V.1.00. Made with ❤️ by <a
          href="https://jesus-rangel.com/">Jesús Rangel</a
        >.
      </p>
    </div>
  </section>
</footer>
